.container {
  width: 1200px;
  margin: auto;
  height: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

* {
  font-family: "apercu",sans-serif;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}

.partition {
  background-color: #e4e4e4;
  height: 1px;
  width: 100%;
}

@-webkit-keyframes hoveranimation {
  0% {
    color: #8c2cdb;
    border-bottom-color: #8c2cdb;
  }
  100% {
    color: #ff145a;
    border-bottom-color: #ff145a;
  }
}

@keyframes hoveranimation {
  0% {
    color: #8c2cdb;
    border-bottom-color: #8c2cdb;
  }
  100% {
    color: #ff145a;
    border-bottom-color: #ff145a;
  }
}

@-webkit-keyframes signaturepulse {
  0% {
    color: #8c2cdb;
  }
  25% {
    color: #ff00c8;
  }
  75% {
    color: #ff145a;
  }
  100% {
    color: #8c2cdb;
  }
}

@keyframes signaturepulse {
  0% {
    color: #8c2cdb;
  }
  25% {
    color: #ff00c8;
  }
  75% {
    color: #ff145a;
  }
  100% {
    color: #8c2cdb;
  }
}

/*header start*/
.top-header {
  height: 40px;
  overflow: hidden;
  background-color: #f8f8f8;
}

.top-header .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.top-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.top-header ul li {
  color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: 15px;
}

.top-header ul li .icon {
  margin-right: 5px;
  color: #8c2cdb;
  font-size: 16px;
}

.top-header ul li .text {
  font-weight: 600;
  font-size: 13px;
}

.top-header .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 53%;
}

.top-header .account a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.top-header .account a i {
  margin-left: 5px;
  color: #ff145a;
  font-size: 16px;
}

.top-header .account a .text {
  font-weight: 600;
  font-size: 13px;
  margin-left: 10px;
}

.modal {
  display: none;
  position: fixed;
  background-color: rgba(41, 41, 41, 0.87);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal .close {
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 3%;
  right: 3%;
}

.modal .modal-body {
  background-color: #fff;
  position: absolute;
  width: 950px;
  height: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 20%;
  left: 25%;
  border-radius: 4px;
}

.modal .modal-body h3 {
  font-weight: 400;
  font-size: 20px;
}

.modal .modal-body input {
  border: 2px solid #929292;
  margin-bottom: 10px;
  border-radius: 2px;
}

.modal .modal-body .btnsubmit {
  color: #fff;
  border-radius: 3px;
  border: 1px solid #ff145a;
  height: 40px;
  width: 150px;
  background-color: #ff145a;
  margin-left: 70px;
}

.modal .modal-body .signup-partition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  padding: 65px 10%;
}

.modal .modal-body .signup-partition table {
  margin: auto;
}

.modal .modal-body .signin-partition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  padding: 120px 10%;
}

.modal .modal-body .signin-partition table {
  margin: auto;
}

.main-header {
  height: 110px;
  overflow: hidden;
  background-color: #252525;
}

.main-header .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
}

.main-header .flex-box .brand-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.main-header .flex-box .brand-name h2 {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 38px;
  text-transform: capitalize;
  letter-spacing: 0.03em;
}

.main-header .flex-box .brand-name h2 Span {
  color: #8c2cdb;
}

.main-header .flex-box .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

.main-header .flex-box .search .bar {
  height: 35px;
  width: 400px;
}

.main-header .flex-box .search .bar .input-bar {
  border: 0;
  background-color: #f7f7f7;
  border-radius: 15px 0 0 0;
  height: 33px;
  padding-left: 15px;
  width: 60%;
}

.main-header .flex-box .search .bar button {
  height: 35px;
  width: 32%;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border: 0;
  background-color: #8c2cdb;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8c2cdb), to(#ff145a));
  background-image: linear-gradient(to bottom right, #8c2cdb, #ff145a);
  border-radius: 0 0 15px 0;
  margin: 0;
  margin-left: -5px;
}

.main-header .flex-box .cart {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.main-header .flex-box .cart .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 16px;
}

.main-header .flex-box .cart .block i {
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.main-header .flex-box .cart .block p {
  margin: 5px;
  color: #f7f7f7;
  font-size: 13px;
  font-weight: 600;
}

.main-header .flex-box .cart .block:hover i {
  -webkit-animation-name: signaturepulse;
          animation-name: signaturepulse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: #8c2cdb;
}

.spliter {
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8c2cdb), color-stop(#ff145a), to(#8c2cdb));
  background-image: linear-gradient(to bottom right, #8c2cdb, #ff145a, #8c2cdb);
  background-position-x: 80%;
}

.navbar {
  height: 50px;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid rgba(66, 66, 66, 0.267);
  -webkit-box-shadow: inset 0px 1px 7px 4px #e6e5e5;
          box-shadow: inset 0px 1px 7px 4px #e6e5e5;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  margin-right: 12px;
  margin-left: 12px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #252525;
  padding: 2px 0;
}

.navbar ul li a:hover {
  -webkit-animation: hoveranimation;
          animation: hoveranimation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar ul li .active {
  border-color: #8c2cdb;
  color: #8c2cdb;
  border-bottom: 2px solid;
}

.mainpage {
  padding: 70px 0;
}

.mainpage .promotional {
  background-color: #fff;
}

.mainpage .promotional .flex-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainpage .promotional .flex-container a {
  height: 270px;
  width: 34%;
}

.mainpage .promotional .flex-container .image-block {
  position: relative;
  overflow: hidden;
  background-color: #000;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-right: 20px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 10px 1px #eeeeee;
          box-shadow: 0px 0px 10px 1px #eeeeee;
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}

.mainpage .promotional .flex-container .image-block .color-mask {
  position: absolute;
  top: -179px;
  left: -55px;
  width: 325px;
  height: 460px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(140, 44, 219, 0.904)), to(rgba(255, 22, 92, 0.911)));
  background-image: linear-gradient(to bottom right, rgba(140, 44, 219, 0.904), rgba(255, 22, 92, 0.911));
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
  -webkit-transition: left 0.8s ease;
  transition: left 0.8s ease;
}

.mainpage .promotional .flex-container .image-block .promo-text {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 40%;
  height: 100%;
  color: #fff;
}

.mainpage .promotional .flex-container .image-block .promo-text h3 {
  margin: 0;
  font-size: 27px;
  font-weight: 700;
  text-transform: capitalize;
}

.mainpage .promotional .flex-container .image-block .promo-text p {
  margin: 10px 0;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
}

.mainpage .promotional .flex-container .image-block .promo-text p i {
  font-size: 14px;
  -webkit-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}

.mainpage .promotional .flex-container .image-block:hover .color-mask {
  left: -165px;
}

.mainpage .promotional .flex-container .image-block:hover .promo-text p i {
  margin-left: 5px;
}

.mainpage .promotional .flex-container .image-block:hover {
  -webkit-box-shadow: 0px 0px 10px 6px #e7e7e7;
          box-shadow: 0px 0px 10px 6px #e7e7e7;
}

.mainpage .new-products {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mainpage .new-products .new-products-header {
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.mainpage .new-products .new-products-header h3 {
  width: 20%;
  text-transform: uppercase;
  color: #252525;
}

.mainpage .new-products .new-products-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  list-style-type: none;
  width: 30%;
  margin-left: 50%;
}

.mainpage .new-products .new-products-header ul li {
  margin-left: 12px;
}

.mainpage .new-products .new-products-header ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #252525;
  padding: 2px 0;
}

.mainpage .new-products .new-products-header ul li a:hover {
  border-bottom: 2px solid;
  -webkit-animation: hoveranimation;
          animation: hoveranimation;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-direction: reverse;
}

.mainpage .new-products .new-products-header ul li .active {
  border-color: #8c2cdb;
  color: #8c2cdb;
  border-bottom: 2px solid;
}

.mainpage .new-products .items-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.mainpage .new-products .items-grid .item {
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.mainpage .new-products .items-grid .item img {
  width: 80%;
  margin: 0 10% 40px 10%;
  height: 150px;
}

.mainpage .new-products .items-grid .item .item-cat {
  margin: 0;
  color: #8d8d8d;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.mainpage .new-products .items-grid .item .item-name {
  margin: 5px 0;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #3d3d3d;
}

.mainpage .new-products .items-grid .item .item-price-after {
  margin: 2px 0;
  color: #e40f4f;
  font-size: 18px;
  font-weight: 600;
}

.mainpage .new-products .items-grid .item .item-price-after .item-price-before {
  font-size: 15px;
  color: #8d8d8d;
  margin-left: 5px;
}

.mainpage .new-products .items-grid .item .stars {
  padding: 0;
}

.mainpage .new-products .items-grid .item .stars i {
  color: #535353;
}

.mainpage .new-products .items-grid .item .stars .active {
  color: #ff145a;
}

.mainpage .new-products .items-grid .item .listings {
  padding: 0;
}

.mainpage .new-products .items-grid .item .listings i {
  margin-left: 20px;
}

.mainpage .new-products .items-grid .item:hover {
  -webkit-box-shadow: 0px 0px 10px 4px #f1f1f1;
          box-shadow: 0px 0px 10px 4px #f1f1f1;
}

.profile {
  padding: 30px 0 60px 0;
  background-color: #f7f7f7;
}

.profile .account-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.profile .account-controller .account-panel {
  width: 20%;
  height: 280px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 1px #e7e7e7;
          box-shadow: 0px 0px 10px 1px #e7e7e7;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.profile .account-controller .account-panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.profile .account-controller .account-panel ul .active {
  background-color: #cccccc;
  border-radius: 5px 5px 0 0;
}

.profile .account-controller .account-panel ul li {
  height: 45px;
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.profile .account-controller .account-panel ul li a {
  text-decoration: none;
  color: #3f3f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .account-controller .account-panel ul li a p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.profile .account-controller .account-panel ul li a i {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 18px;
  width: 20px;
}

.profile .account-controller .account-panel ul li:hover {
  background-color: #e4e4e4;
}

.profile .account-controller .account-panel .logout {
  height: 55px;
  width: 100%;
  border: 0;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e7e7e7;
  padding-top: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ff145a;
  border-radius: 0 0 5px 5px;
}

.profile .account-controller .account-panel .logout P {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile .account-controller .account-panel .logout:hover {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  color: #ff145a;
}

.profile .account-controller .account-panel .logout:hover p {
  color: #ff145a;
}

.profile .account-controller .account-overview {
  width: 78%;
  height: 220px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  margin-left: 2%;
  -webkit-box-shadow: 0px 0px 10px 1px #e7e7e7;
          box-shadow: 0px 0px 10px 1px #e7e7e7;
}

.profile .account-controller .account-overview h3 {
  position: relative;
  margin: 0;
  font-weight: 500;
  font-size: 26px;
  text-transform: capitalize;
  color: #3f3f3f;
}

.profile .account-controller .account-overview h3::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 0px;
  height: 3px;
  width: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#8c2cdb), to(#ff145a));
  background-image: linear-gradient(to right, #8c2cdb, #ff145a);
}

.profile .account-controller .account-overview .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .account-controller .account-overview .blocks .account-details {
  border: 1px solid #e9e9e9;
  width: 50%;
  height: 170px;
  border-radius: 5px;
  margin-right: 2.5%;
  margin-top: 20px;
}

.profile .account-controller .account-overview .blocks .account-details .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  border-bottom: 1px solid #e9e9e9;
}

.profile .account-controller .account-overview .blocks .account-details .head p {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  width: 50%;
}

.profile .account-controller .account-overview .blocks .account-details .head i {
  font-size: 20px;
  widows: 5%;
  margin-left: 38%;
  color: #8c2cdb;
}

.profile .account-controller .account-overview .blocks .account-details h4 {
  padding: 0 0 0 15px;
  margin: 15px 0 5px;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.profile .account-controller .account-overview .blocks .account-details p {
  color: #808080;
  font-size: 14px;
  text-transform: lowercase;
  padding-left: 15px;
  margin: 0;
}

.profile .account-controller .account-overview .blocks .account-details .Cpassword {
  text-transform: uppercase;
  margin-top: 45px;
  color: #8c2cdb;
}

.profile .account-controller .account-overview .blocks .account-details .Cpassword a {
  text-decoration: none;
  color: #ff145a;
}

.profile .cart-checkout {
  margin: 10px 0;
  width: 100%;
}

.profile .cart-checkout h2 {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3f3f3f;
}

.profile .cart-checkout h2::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 0px;
  height: 3px;
  width: 35px;
  background-image: -webkit-gradient(linear, left top, right top, from(#8c2cdb), to(#ff145a));
  background-image: linear-gradient(to right, #8c2cdb, #ff145a);
}

.profile .cart-checkout .cart-container {
  margin-top: 40px;
  width: 94%;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 1px #e7e7e7;
          box-shadow: 0px 0px 10px 1px #e7e7e7;
  padding: 35px;
}

.profile .cart-checkout .cart-container .product {
  width: 30%;
}

.profile .cart-checkout .cart-container .quantity {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .cart-checkout .cart-container .price {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .cart-checkout .cart-container .product-id {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .cart-checkout .cart-container .total {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .cart-checkout .cart-container .cart-header {
  width: 100%;
}

.profile .cart-checkout .cart-container .cart-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile .cart-checkout .cart-container .cart-header ul li {
  color: #535353;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.profile .cart-checkout .cart-container .cart-item {
  height: 100px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .cart-checkout .cart-container .cart-item .product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .cart-checkout .cart-container .cart-item .product-item img {
  height: 71%;
  width: 122px;
  margin-right: 20px;
}

.profile .cart-checkout .cart-container .cart-item .product-item .text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .cart-checkout .cart-container .cart-item .product-item .text h5 {
  margin: 5px 0;
  font-size: 15px;
  color: #535353;
  font-weight: 600;
  text-transform: capitalize;
}

.profile .cart-checkout .cart-container .cart-item .product-item .text p {
  margin: 5px 0;
  font-size: 14px;
  color: #808080;
  font-weight: 500;
}

.profile .cart-checkout .cart-container .cart-item .quantity-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .cart-checkout .cart-container .cart-item .quantity-item input {
  border: 2px solid #cccccc;
  background-color: #f8f8f8;
  padding: 8px;
  width: 20px;
  color: #646464;
  border-radius: 2px;
}

.profile .cart-checkout .cart-container .cart-item .price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .cart-checkout .cart-container .cart-item .price-item h3 {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  color: #3f3f3f;
}

.profile .cart-checkout .cart-container .cart-item .product-id-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .cart-checkout .cart-container .cart-item .product-id-item P {
  font-size: 15px;
  font-weight: 600;
  color: #979696;
}

.profile .cart-checkout .cart-container .cart-item .total-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .cart-checkout .cart-container .cart-item .total-item h3 {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  color: #3f3f3f;
}

.profile .cart-checkout .cart-container .cart-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px 0;
}

.profile .cart-checkout .cart-container .cart-bottom p {
  width: 20%;
  margin-left: 63%;
  font-size: 16px;
  font-weight: 600;
  color: #666666;
  text-transform: capitalize;
}

.profile .cart-checkout .cart-container .cart-bottom p span {
  font-size: 17px;
  margin-left: 8px;
  color: #3f3f3f;
}

.profile .cart-checkout .cart-container .cart-bottom button {
  height: 45px;
  width: 150px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border: 0;
  background-color: #ff145a;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff145a), to(#ff145a));
  background-image: linear-gradient(to bottom right, #ff145a, #ff145a);
  border-radius: 15px 0 15px 0;
  margin: 0;
  margin-left: -5px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.profile .cart-checkout .cart-container .cart-bottom button:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8c2cdb), to(#ff145a));
  background-image: linear-gradient(to bottom right, #8c2cdb, #ff145a);
}

.product-list-body {
  padding: 40px 0 60px 0;
  background-color: #f7f7f7;
}

.product-list-body .flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-list-body .side-menu {
  width: 15%;
  margin-right: 2%;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px 4px #f3f3f3;
          box-shadow: 0px 0px 10px 4px #f3f3f3;
}

.product-list-body .side-menu h3 {
  text-transform: capitalize;
  margin-bottom: 4px;
  margin-top: 3px;
  color: #252525;
  font-size: 16px;
}

.product-list-body .side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 10px;
}

.product-list-body .side-menu ul li {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-list-body .side-menu ul li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 12px;
  color: #535353;
}

.product-list-body .side-menu ul li a p {
  margin: 0;
  margin-left: 5px;
}

.product-list-body .side-menu ul li a i {
  font-size: 10px;
}

.product-list-body .side-menu ul li a .yellow {
  color: #ff145a;
}

.product-list-body .side-menu ul li a:hover {
  color: #252525;
}

.product-list-body .body {
  width: 80%;
}

.product-list-body .body .partition {
  background-color: #e4e4e4;
  height: 1px;
  width: 100%;
}

.product-list-body .body .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  padding: 0 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 4px #f3f3f3;
          box-shadow: 0px 0px 10px 4px #f3f3f3;
}

.product-list-body .body .topbar .title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-list-body .body .topbar .title h3 {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  color: #3a3a3a;
  font-size: 18px;
}

.product-list-body .body .topbar .item-count {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.product-list-body .body .topbar .item-count p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #3d3d3d;
  font-weight: 500;
}

.product-list-body .body .item-list {
  margin-top: 10px;
}

.product-list-body .body .item-list .items-grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  -ms-grid-columns: 32% 32% 32%;
      grid-template-columns: 32% 32% 32%;
  padding: 10px 0;
}

.product-list-body .body .item-list .items-grid .item {
  border: 2px solid #eeeeee;
  -webkit-box-shadow: 0px 0px 10px 4px #f3f3f3;
          box-shadow: 0px 0px 10px 4px #f3f3f3;
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-list-body .body .item-list .items-grid .item img {
  width: 80%;
  margin: 0 10% 40px 10%;
  height: 150px;
}

.product-list-body .body .item-list .items-grid .item .item-cat {
  margin: 0;
  color: #8d8d8d;
  font-size: 14px;
  text-transform: uppercase;
}

.product-list-body .body .item-list .items-grid .item .item-name {
  margin: 5px 0;
  text-transform: uppercase;
  font-size: 17px;
  text-decoration: none;
  color: #3f3f3f;
  font-weight: 500;
}

.product-list-body .body .item-list .items-grid .item .item-price-after {
  margin: 2px 5px;
  color: #e40f4f;
  font-size: 18px;
  font-weight: 600;
}

.product-list-body .body .item-list .items-grid .item .item-price-after .item-price-before {
  margin-left: 4px;
  font-size: 15px;
  color: #8d8d8d;
}

.product-list-body .body .item-list .items-grid .item .stars {
  padding: 0;
}

.product-list-body .body .item-list .items-grid .item .stars i {
  color: #838383;
}

.product-list-body .body .item-list .items-grid .item .stars .active {
  color: #ff145a;
}

.product-list-body .body .item-list .items-grid .item .listings {
  padding: 0;
}

.product-list-body .body .item-list .items-grid .item .listings i {
  margin-left: 20px;
}

.product-list-body .body .item-list .items-grid .item:hover {
  -webkit-box-shadow: 0px 0px 10px 4px #ececec;
          box-shadow: 0px 0px 10px 4px #ececec;
}

.product-list-body .body .item-list .items-grid .no-products {
  margin-left: 20px;
  font-size: 24px;
  text-transform: capitalize;
}

.product-list-body .body .paggination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 4px #f3f3f3;
          box-shadow: 0px 0px 10px 4px #f3f3f3;
  border-radius: 3px;
}

.product-list-body .body .paggination ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-list-body .body .paggination ul li {
  margin: 0 5px;
}

.product-list-body .body .paggination ul li a {
  text-decoration: none;
  color: #5d5d5d;
  font-size: 15px;
  font-weight: 600;
}

.product-list-body .body .paggination ul li a:hover {
  color: #ff145a;
}

.product-list-body .body .paggination ul li .active {
  color: #8c2cdb;
}

.product-body {
  background-color: #f7f7f7;
  padding: 40px 0px;
}

.product-body .product-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-body .product-upper .product-main {
  width: 70%;
  height: 320px;
  margin: 0 1.5%;
  padding-right: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 4px #ececec;
          box-shadow: 0px 0px 10px 4px #ececec;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-body .product-upper .product-main .prod-images {
  width: 45%;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-body .product-upper .product-main .prod-images img {
  width: 95%;
  height: 230px;
}

.product-body .product-upper .product-main .prod-card {
  width: 55%;
}

.product-body .product-upper .product-main .prod-card h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.product-body .product-upper .product-main .prod-card .cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  margin-top: 15px;
}

.product-body .product-upper .product-main .prod-card .cat p {
  margin: 0;
  font-size: 16px;
}

.product-body .product-upper .product-main .prod-card .cat a {
  font-size: 16px;
  text-decoration: none;
  margin-left: 5px;
  color: #ff145a;
}

.product-body .product-upper .product-main .prod-card li {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-body .product-upper .product-main .prod-card li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 24px;
  color: #818181;
}

.product-body .product-upper .product-main .prod-card li a p {
  margin: 0;
  margin-left: 5px;
}

.product-body .product-upper .product-main .prod-card li a i {
  font-size: 15px;
}

.product-body .product-upper .product-main .prod-card li a .yellow {
  color: #8c2cdb;
}

.product-body .product-upper .product-main .prod-card li a:hover {
  color: #252525;
}

.product-body .product-upper .product-main .prod-card .price {
  margin-top: 40px;
}

.product-body .product-upper .product-main .prod-card .price h3 {
  font-weight: 700;
}

.product-body .product-upper .product-main .prod-card button {
  width: 100%;
  margin-top: 10px;
  height: 50px;
  background-color: #ff145a;
  border: 1px solid #ff145a;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 10px 1px #ececec;
          box-shadow: 0px 0px 10px 1px #ececec;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-body .product-upper .product-main .prod-card button:hover {
  background-color: #fff;
  color: #e41553;
}

.product-body .product-upper .product-details {
  width: 27%;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px 4px #ececec;
          box-shadow: 0px 0px 10px 4px #ececec;
  /*.partition{
                //background-image: linear-gradient(to bottom right, rgb(140, 44, 219),$primarycolor2,rgb(140, 44, 219));

            }*/
}

.product-body .product-upper .product-details p {
  font-size: 16px;
  margin-left: 14px;
}

.product-body .product-upper .product-details ol li {
  margin: 5px 2px;
}

.product-body .specifications {
  width: 70.5%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 4px #ececec;
          box-shadow: 0px 0px 10px 4px #ececec;
  border-radius: 3px;
  margin: 0 1.5%;
  padding-bottom: 20px;
  /*.partition{
           background-image: linear-gradient(to bottom right, rgb(140, 44, 219),$primarycolor2,rgb(140, 44, 219));

        }*/
  /*h3::after{
            content: "";
            position: absolute;
            top: 115%;
            left: 0;
            width: 35px;
            height: 3px;
            background-image: linear-gradient(to bottom right, rgb(140, 44, 219),$primarycolor2,rgb(140, 44, 219));
        }*/
}

.product-body .specifications h3 {
  position: relative;
  font-size: 22px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 8px;
  font-weight: 500;
  color: #ff145a;
}

.product-body .specifications .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.product-body .specifications .content .keyfeatures {
  width: 46%;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  margin: 0 auto;
}

.product-body .specifications .content .keyfeatures p {
  margin-left: 10px;
  text-transform: uppercase;
}

.product-body .specifications .content .keyfeatures ul li {
  margin-top: 3px;
}

.product-body .specifications .content .speci-sub {
  width: 48%;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  margin: 0 auto;
}

.product-body .specifications .content .speci-sub p {
  margin-left: 10px;
  text-transform: uppercase;
}

.product-body .specifications .content .speci-sub ul li {
  margin-top: 3px;
}

.coverphoto {
  background-size: contain;
  height: 400px;
  width: 100%;
}

.coverphoto img {
  height: 100%;
  width: 100%;
}

.footer .footer-main {
  padding-top: 30px;
  height: 400px;
  background-color: #242424;
}

.footer .footer-main .flex-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-main .follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.footer .footer-main .follow .title h3 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.footer .footer-main .follow .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
}

.footer .footer-main .follow .links .circle {
  width: 50px;
  height: 50px;
  background-color: #8c2cdb;
  border-radius: 50px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.footer .footer-main .follow .links .circle i {
  color: #fff;
  font-size: 22px;
}

.footer .footer-main .follow .links .circle:hover {
  background-color: #ff145a;
}

.footer .footer-main .follow .pages ul {
  margin: 30px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.footer .footer-main .follow .pages ul li {
  margin-bottom: 5px;
}

.footer .footer-main .follow .pages ul li a {
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.footer .footer-main .follow .pages ul li a:hover {
  color: #8c2cdb;
}

.footer .footer-main .subscribe {
  width: 100%;
}

.footer .footer-main .subscribe ul {
  margin: 24px 0 45px 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-main .subscribe ul li {
  margin-right: 15px;
}

.footer .footer-main .subscribe ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer .footer-main .subscribe ul li a:hover {
  color: #8c2cdb;
}

.footer .footer-main .subscribe h3 {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.footer .footer-main .subscribe .input-box {
  height: 41px;
  width: 100%;
}

.footer .footer-main .subscribe .input-box input {
  border: 0;
  background-color: #f7f7f7;
  border-radius: 15px 0 0 0;
  height: 100%;
  padding-left: 15px;
  width: 47%;
}

.footer .footer-main .subscribe .input-box button {
  height: 104%;
  width: 20%;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border: 0;
  background-color: #8c2cdb;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8c2cdb), to(#ff145a));
  background-image: linear-gradient(to bottom right, #8c2cdb, #ff145a);
  border-radius: 0 0 15px 0;
  margin: 0;
  margin-left: -5px;
}

.footer .footer-main .subscribe .payments h3 {
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.footer .footer-main .subscribe .payments .payments-systems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-main .subscribe .payments .payments-systems img {
  height: 40px;
  width: 60px;
  margin-right: 15px;
}

.footer .copyrights {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #363636;
}

.footer .copyrights p {
  font-size: 15px;
  color: #fff;
}

.footer .copyrights p span {
  font-weight: 600;
  font-size: 16px;
  color: #808080;
}

.footer .copyrights:hover p span {
  -webkit-animation-name: signaturepulse;
          animation-name: signaturepulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/*# sourceMappingURL=style.css.map */