$secondgray :  rgb(248, 248, 248);
$BackBlack: rgb(49, 49, 49);
$darkgray:rgb(37, 37, 37);
$accentGray:rgb(247, 247, 247);
$primarycolor: rgb(140, 44, 219);
$primarycolor2: rgb(255, 20, 90);
$pricecolor: rgb(228, 21, 83);
$footercolor: rgb(36, 36, 36);
//global
.container{
    width: 1200px;
    margin: auto;
    height: 100%;
}
.flex{
    display: flex;
    width: 100%;
}
*{
    font-family:"apercu",sans-serif;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif
}
.partition{
    background-color: #e4e4e4;
    height: 1px;
    width: 100%;
}

//hover keyframe
@keyframes hoveranimation{
    0%{
        color: $primarycolor;
        border-bottom-color: $primarycolor;
    }
    100%{
        color: $primarycolor2;
        border-bottom-color: $primarycolor2;
    }
}

@keyframes signaturepulse{
    0%{
        color: $primarycolor;
    }
    25%{
        color: #ff00c8;
    }
    75%{
        color: $primarycolor2;
    }
    100%{
        color: $primarycolor;
    }
}

/*header start*/


.top-header{
    height: 40px;
    overflow: hidden;
    background-color: $secondgray;
    .flex-container{
        display: flex;
        height: 100%;
        width: 100%;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        height: 40px;
        li{
            color: $darkgray;
            display: flex;
            align-items: center;
            height: 100%;
            margin-right: 15px;
            .icon{
                margin-right: 5px;
                color: $primarycolor;
                font-size: 16px;
            }
            .text{
                font-weight: 600;
                font-size: 13px;
            }
        }
    }
    .account{
        display: flex;
        height: 100%;
        align-items: center;
        margin-left: 53%;
        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            color: #000;
            i{
                margin-left: 5px;
                color: $primarycolor2;
                font-size: 16px;
            }
            .text{
                font-weight: 600;
                    font-size: 13px;
                margin-left: 10px;
            }
        }
    }
}

// signin/signup modal
.modal{
    display: none;
    position: fixed;
    background-color: rgba(41, 41, 41, 0.87);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    .close{
        cursor: pointer;
        font-size: 18px;
        position: absolute;
        top: 3%;
        right: 3%;
    }
    .modal-body{
        background-color: #fff;
        position: absolute;
        width: 950px;
        height: 475px;
        display: flex;

        top: 20%;
        left: 25%;
        border-radius: 4px;
        h3{
            font-weight: 400;
            font-size: 20px;
        }
        input{
            border: 2px solid #929292;
            //box-shadow: 0px 0px 2px 3px #f6f6f6;
            margin-bottom: 10px;
            border-radius: 2px;
        }
        .btnsubmit{
            color: #fff;
            border-radius: 3px;
            border: 1px solid $primarycolor2;
            height: 40px;
            width: 150px;
            background-color: $primarycolor2;
            margin-left: 70px;
        }
        .signup-partition{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            padding: 65px 10%;
            table{
                margin:auto;
            }
        }
        .signin-partition{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            padding: 120px 10%;
            table{
                margin:auto;
            }
        }
    }
}

// start main header
.main-header{
    height: 110px;
    overflow: hidden;
    background-color:$darkgray;
    .flex-box{
        display: flex;
        height: 110px;
        .brand-name{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 40%;
            h2{
                margin: 0;
                color: #fff;
                font-weight: 500;
                font-size: 38px;
                text-transform: capitalize;
                letter-spacing: 0.03em;
                Span{
                    color: $primarycolor;
                }
            }
        }
        .search{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            .bar{
                height: 35px;
                width: 400px;
                .input-bar{
                    border: 0;
                    background-color: rgb(247, 247, 247);
                    border-radius: 15px 0 0 0;
                    height: 33px;
                    padding-left: 15px;
                    width: 60%;
                }
                button{
                    height: 35px;
                    width: 32%;
                    color: #fff;

                    font-size: 17px;
                    font-weight: 500;
                    border: 0;
                    background-color: $primarycolor;
                    background-image: linear-gradient(to bottom right, rgb(140, 44, 219),$primarycolor2);
                    border-radius: 0 0 15px 0;
                    margin: 0;
                    margin-left: -5px;
                }
            }
        }
        .cart{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            .block{
                display: flex;
                flex-direction: column;;
                align-items: center;
                justify-content: center;
                margin-left: 16px;
                i{
                    color: #fff;
                    font-size: 20px;
                    transition: all 0.1s ease;
                }
                p{
                    margin: 5px;
                    color: $accentGray;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
            .block:hover i{
                animation-name: signaturepulse;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                color: $primarycolor;
            }
        }
    }
}
.spliter{
    height: 3px;
    background-image: linear-gradient(to bottom right, rgb(140, 44, 219),$primarycolor2,rgb(140, 44, 219));
    background-position-x: 80%;
}

//end main header

//navbar
.navbar{
    height: 50px;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid rgba(66, 66, 66, 0.267);
    box-shadow: inset 0px 1px 7px 4px rgb(230, 229, 229);
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        height: 100%;
        display: flex;
        align-items: center;
        li{
            margin-right: 12px;
            margin-left: 12px;

           a{
               text-decoration: none;
               font-size: 15px;
               font-weight: 600;
               color: $darkgray;
               padding: 2px 0;
           }
           a:hover{

                animation: hoveranimation;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            .active{
                border-color: $primarycolor;
                color: $primarycolor;
                border-bottom: 2px solid;
            }
        }
    }
}

//homepage body
.mainpage{
    padding: 70px 0;
    .promotional{

        background-color: #fff;
        .flex-container{
            width: 100%;
            height: 100%;
            display: flex;
            a{
                height: 270px;
                width: 34%;
            }
            .image-block{
                position: relative;
                overflow: hidden;
                background-color: #000;
                background-size: cover;
                height: 100%;
                width: 100%;
                margin-right: 20px;
                border-radius: 2px;
                box-shadow: 0px 0px 10px 1px #eeeeee;
                transition: box-shadow 0.4s ease;
                .color-mask{
                    position: absolute;
                    top: -179px;
                    left: -55px;
                    width: 325px;
                    height: 460px;
                    background-image: linear-gradient(to bottom right,rgba(140, 44, 219, 0.904),rgba(255, 22, 92, 0.911));
                    transform: rotate(44deg);
                    transition: left 0.8s ease;
                }
                .promo-text{
                    position: absolute;
                    top:10%;
                    left:10%;
                    width: 40%;
                    height: 100%;
                    color: #fff;
                    h3{
                        margin: 0;
                        font-size: 27px;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
                    p{
                        margin: 10px 0;
                        font-weight: 600;
                        font-size: 16px;
                        text-transform: capitalize;
                        i{
                            font-size: 14px;
                            transition: margin-left 0.3s ease;
                        }
                    }
                }
            }
            .image-block:hover .color-mask{
                left: -165px;
            }
            .image-block:hover .promo-text p i{
                margin-left: 5px;
            }
            .image-block:hover{
                box-shadow:0px 0px 10px 6px #e7e7e7
            }
        }
    }

    //new products start
    .new-products{
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        .new-products-header{
            height: 50px;
            overflow: hidden;
            display: flex;
            margin-bottom: 40px;
            h3{
                width: 20%;
                text-transform: uppercase;
                color: $darkgray;
            }
            ul{
                display: flex;
                justify-content: right;
                list-style-type: none;
                width: 30%;
                margin-left: 50%;
                li{

                    margin-left: 12px;

                   a{
                       text-decoration: none;
                       font-size: 15px;
                       font-weight: 600;
                       color: $darkgray;
                       padding: 2px 0;
                   }
                   a:hover{
                    border-bottom: 2px solid;
                        animation: hoveranimation;
                        animation-duration: 0.8s;
                        animation-fill-mode: forwards;
                        animation-direction: reverse;
                    }
                    .active{
                        border-color: $primarycolor;
                        color: $primarycolor;
                        border-bottom: 2px solid;
                    }
                }
            }
        }

        .items-grid{
            display: flex;
           // justify-content: center;
            padding: 10px 0;
            .item{
                width: 23%;
                margin-left: 1%;
                margin-right: 1%;
                border: 2px solid rgb(238, 238, 238);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 50px 0;
                img{
                    width: 80%;
                    margin: 0 10% 40px 10%;
                    height: 150px;
                }
                .item-cat{
                    margin:0;
                    color: #8d8d8d;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-decoration: none;
                }
                .item-name{
                    margin: 5px 0;
                    text-transform: capitalize;
                    font-size: 17px;
                    font-weight: 600;
                    text-decoration: none;
                    color: #3d3d3d;
                }
                .item-price-after{
                    margin:2px 0;
                    color: rgb(228, 15, 79);
                    font-size: 18px;
                    font-weight: 600;
                    .item-price-before{
                        font-size: 15px;
                        color: #8d8d8d;
                        margin-left: 5px;
                    }
                }
                .stars{
                    padding:0;
                    i{
                        color: #535353;
                    }
                    .active{
                        color: $primarycolor2;
                    }
                }

                .listings{
                    padding: 0;
                    i{
                        margin-left: 20px;
                    }
                }
            }
            .item:hover{
                box-shadow:0px 0px 10px 4px #f1f1f1;
            }
        }
    }
}
    //new products end

//profile mainpage
.profile{
    padding: 30px 0 60px 0;
    background-color: $accentGray;
    .account-controller{
        display: flex;
        padding: 30px 0;

        .account-panel{
            width: 20%;
            height: 280px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 1px #e7e7e7;
            transition: all 0.5s ease;
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;

                overflow: hidden;
                .active{
                    background-color: #cccccc;
                    border-radius: 5px 5px 0 0;
                }
                li{
                    height: 45px;
                    width: 83%;
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    a{
                        text-decoration: none;
                        color: rgb(63, 63, 63);
                        display: flex;
                        p{
                            margin:0;
                            font-size: 14px;
                            font-weight: 500;
                        }
                        i{
                            margin-right: 10px;
                            margin-left: 5px;
                            font-size: 18px;
                            width: 20px;
                        }
                    }
                }
                li:hover{
                    background-color: #e4e4e4;
                }
            }
            .logout{
                height: 55px;
                width: 100%;
                border: 0;
                padding-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid rgb(231, 231, 231);
                padding-top: 3px;
                transition: all 0.3s ease;
                background-color: $primarycolor2;
                border-radius: 0 0 5px 5px;
                P{
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    color: #fff;
                    margin: 0;
                    transition: all 0.3s ease;
                }
            }
            .logout:hover{
                background-color: #fff;
                border-radius: 0 0 5px 5px;
                 color: $primarycolor2;
            }
            .logout:hover p{
                color: $primarycolor2;
           }
        }

        .account-overview{
            width: 78%;
            height: 220px;
            background-color: #fff;
            border-radius: 5px;
            padding: 30px;
            margin-left:2%;
            box-shadow: 0px 0px 10px 1px #e7e7e7;
            h3{
                position: relative;
                margin:0;
                font-weight: 500;
                font-size: 26px;
                text-transform: capitalize;
                color:  rgb(63, 63, 63);
            }
            h3::after{
                content: "";
                position: absolute;
                top: 32px;
                left:0px;
                height: 3px;
                width: 40px;
                background-image: linear-gradient(to right,$primarycolor,$primarycolor2);
            }
            .blocks{
                display: flex;
                .account-details{
                    border: 1px solid rgb(233, 233, 233);
                    width: 50%;
                    height: 170px;
                    border-radius: 5px;
                    margin-right: 2.5%;
                    margin-top: 20px;
                    .head{
                        display: flex;
                        align-items: center;
                        height: 38px;
                        border-bottom: 1px solid rgb(233, 233, 233);
                        p{
                            margin: 0;
                            text-transform: uppercase;
                            font-size: 14px;
                            color: #000;
                            width: 50%;
                        }
                        i{
                            font-size: 20px;
                            widows: 5%;
                            margin-left: 38%;
                            color: $primarycolor;
                        }
                    }
                    h4{
                        padding: 0 0 0 15px;
                        margin: 15px 0 5px;
                        font-weight: 500;
                        font-size: 14px;
                        color: #000;
                        text-transform: uppercase;
                    }
                    p{
                        color: #808080;
                        font-size: 14px;
                        text-transform: lowercase;
                        padding-left: 15px;
                        margin: 0;
                    }
                    .Cpassword{
                        text-transform: uppercase;
                        margin-top: 45px;
                        color: $primarycolor;
                        a{
                            text-decoration: none;
                            color: $primarycolor2;
                        }
                    }
                }
            }
        }
    }
    .cart-checkout{
        margin: 10px 0;
        width: 100%;
        h2{
            position: relative;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            color: rgb(63, 63, 63);
        }
        h2::after{
            content: "";
            position: absolute;
            top: 28px;
            left:0px;
            height: 3px;
            width: 35px;
            background-image: linear-gradient(to right,$primarycolor,$primarycolor2);
        }
        .cart-container{
            margin-top: 40px;
            width: 94%;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 1px #e7e7e7;
            padding: 35px;
            .product{
                width: 30%;

            }
            .quantity{
                width: 15%;
                display: flex;
                justify-content: center;
            }
            .price{
                width: 15%;
                display: flex;
                justify-content: center;
            }
            .product-id{
                width: 25%;
                display: flex;
                justify-content: center;
            }
            .total{
                width: 15%;
                display: flex;
                justify-content: center;
            }
            .cart-header{
                width: 100%;


                ul{
                    display: flex;
                    height: 30px;
                    align-items: center;
                    list-style-type: none;
                    margin:0;
                    padding: 0;
                    li{
                        color: #535353;
                        font-weight: 600;
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
            }
            .cart-item{
                height: 100px;
                padding: 5px 0;
                display: flex;
                .product-item{
                    display: flex;
                    align-items: center;
                    img{
                        height: 71%;
                        width: 122px;
                        margin-right: 20px;
                    }
                    .text{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h5{
                            margin: 5px 0;
                            font-size: 15px;
                            color: rgb(83, 83, 83);
                            font-weight: 600;
                            text-transform: capitalize;
                        }
                        p{
                            margin: 5px 0;
                            font-size: 14px;
                            color: #808080;
                            font-weight: 500;
                        }
                    }
                }
                .quantity-item{
                    display: flex;
                    align-items: center;
                    input{
                        border: 2px solid #cccccc;
                        background-color: #f8f8f8;
                        padding: 8px;
                        width: 20px;
                        color: #646464;
                        border-radius: 2px;
                    }
                }
                .price-item{
                    display: flex;

                    align-items: center;
                    h3{
                        text-transform: uppercase;
                        font-size: 17px;
                        font-weight: 600;
                        color: #3f3f3f;
                    }
                }
                .product-id-item{
                    display: flex;
                    align-items: center;
                    P{

                        font-size: 15px;
                        font-weight: 600;
                        color: #979696;
                    }
                }
                .total-item{
                    display: flex;

                    align-items: center;
                    h3{
                        text-transform: uppercase;
                        font-size: 17px;
                        font-weight: 600;
                        color: #3f3f3f;
                    }
                }
            }
            .cart-bottom{
                display: flex;
                align-items: center;
                margin-top: 10px 0;
                p{
                    width: 20%;
                    margin-left: 63%;
                    font-size: 16px;
                    font-weight: 600;
                    color: #666666;
                    text-transform: capitalize;
                    span{
                        font-size: 17px;
                        margin-left: 8px;
                        color: #3f3f3f;
                    }
                }
                button{
                    height: 45px;
                    width: 150px;
                    color: #fff;
                    font-size: 17px;
                    font-weight: 500;
                    border: 0;
                    background-color: $primarycolor2;
                    background-image: linear-gradient(to bottom right, #ff145a, #ff145a);
                    border-radius: 15px 0 15px 0;
                    margin: 0;
                    margin-left: -5px;
                    transition: all 0.8s ease;
                }
                button:hover{
                    color: #fff;
                    background-image: linear-gradient(to bottom right, $primarycolor, #ff145a);
                }
            }
        }
    }
}

//products list page
.product-list-body{
    padding: 40px 0 60px 0;
    background-color: #f7f7f7;
    .flex{
        align-items: flex-start;
    }
    .side-menu{
        width: 15%;
        margin-right: 2%;
        overflow: hidden;
        padding: 10px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0px 0px 10px 4px #f3f3f3;

        h3{
            text-transform: capitalize;
            margin-bottom: 4px;
            margin-top: 3px;
            color: $darkgray;
            font-size: 16px;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            margin: 10px;
            li{
                height: 25px;
                display: flex;
                align-items: center;

                a{
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font-size: 12px;
                    color: #535353;
                    p{
                        margin: 0;
                        margin-left: 5px;
                    }
                    i{
                        font-size: 10px;
                    }
                    .yellow{
                        color: $primarycolor2;
                    }
                }
                a:hover{
                    color: $darkgray;
                }
            }
        }
    }
    .body{
        width: 80%;
        .partition{
            background-color: #e4e4e4;
            height: 1px;
            width: 100%;
        }
        .topbar{
            display: flex;
            height: 70px;
            padding: 0 20px;
            background-color: #fff;
            box-shadow: 0px 0px 10px 4px #f3f3f3;
            .title{
                height: 100%;
                display:flex;
                align-items: center;
                h3{
                    text-transform: capitalize;
                    margin:0;
                    padding: 0;
                    color: #3a3a3a;
                    font-size: 18px;
                }
            }
            .item-count{
                height: 100%;
                display:flex;
                align-items: center;
                margin-left: auto;
                p{
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    color: #3d3d3d;
                    font-weight: 500;

                }
            }
        }
        .item-list{
            margin-top: 10px;
            .items-grid{
                display: grid;
                column-gap: 2%;
                grid-template-columns: 32% 32% 32%;
                padding: 10px 0;
                .item{


                    border: 2px solid rgb(238, 238, 238);
                    box-shadow: 0px 0px 10px 4px #f3f3f3;
                    background-color: #fff;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px 0;
                    transition: all 0.3s ease;
                    img{
                        width: 80%;
                        margin: 0 10% 40px 10%;
                        height: 150px;
                    }
                    .item-cat{
                        margin:0;
                        color: #8d8d8d;
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                    .item-name{
                        margin: 5px 0;
                        text-transform: uppercase;
                        font-size: 17px;
                        text-decoration: none;
                        color: #3f3f3f;
                        font-weight: 500;
                    }
                    .item-price-after{
                        margin:2px 5px;
                        color: rgb(228, 15, 79);
                        font-size: 18px;
                        font-weight: 600;
                        .item-price-before{
                            margin-left: 4px;
                            font-size: 15px;
                            color: #8d8d8d;
                        }
                    }
                    .stars{
                        padding:0;
                        i{
                            color: #838383;
                        }

                        .active{
                            color: $primarycolor2;
                        }

                    }

                    .listings{
                        padding: 0;
                        i{
                            margin-left: 20px;
                        }

                    }
                }
                .item:hover{
                    box-shadow: 0px 0px 10px 4px #ececec;
                    //border: 2px solid rgb(235, 235, 235);
                }

                .no-products{
                    margin-left: 20px;
                    font-size: 24px;
                    text-transform: capitalize;
                }
            }
        }
        .paggination{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            margin-top: 15px;
            background-color: #fff;
            box-shadow: 0px 0px 10px 4px #f3f3f3;
            border-radius: 3px;
            ul{
                list-style-type: none;
                display: flex;

                li{
                    margin: 0 5px;

                    a{
                        text-decoration: none;
                        color: #5d5d5d;
                        font-size: 15px;
                        font-weight: 600;
                    }
                    a:hover{
                        color: $primarycolor2;
                    }
                    .active{

                        color: $primarycolor;
                    }
                }
            }
        }
    }
}

//product page
.product-body{
    background-color: #f7f7f7;
    padding: 40px 0px;
    .product-upper{


        display: flex;
        .product-main{
            width: 70%;
            height: 320px;
            margin: 0 1.5%;
            padding-right: 15px;
            background-color: #fff;
            box-shadow: 0px 0px 10px 4px #ececec;
            border-radius: 3px;
            display: flex;
            .prod-images{
                width: 45%;
                margin: 10px;
                display: flex;
                justify-content: center;
                //align-items: center;
                img{
                    width: 95%;
                    height: 230px;
                }
            }
            .prod-card{
                width: 55%;
                h3{
                    font-size: 22px;
                    font-weight: 400;
                    margin-bottom: 5px;
                    text-transform: capitalize;
                }
                .cat{
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    margin-top: 15px;
                    p{
                        margin: 0;
                        font-size: 16px;
                    }
                    a{
                        font-size: 16px;
                        text-decoration: none;
                        margin-left: 5px;
                        color: $primarycolor2;
                    }
                }
                li{
                    height: 25px;
                    display: flex;
                    align-items: center;

                    a{
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        font-size: 24px;
                        color: #818181;
                        p{
                            margin: 0;
                            margin-left: 5px;
                        }
                        i{
                            font-size: 15px;
                        }
                        .yellow{
                            color: $primarycolor;
                        }
                    }
                    a:hover{
                        color: $darkgray;
                    }
                }
                .price{
                    margin-top: 40px;
                    h3{
                        font-weight: 700;
                    }
                }
                button{
                    width: 100%;
                    margin-top: 10px;
                    height: 50px;
                    background-color: $primarycolor2;
                    border: 1px solid $primarycolor2;
                    color: #fff;
                    border-radius: 5px;
                    text-transform: uppercase;
                    box-shadow: 0px 0px 10px 1px #ececec;
                    transition: all 0.3s ease;
                }
                button:hover{
                    background-color: #fff;
                    color: $pricecolor;
                }
            }
        }
        .product-details{
            width: 27%;

            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0px 0px 10px 4px #ececec;
            /*.partition{
                //background-image: linear-gradient(to bottom right, rgb(140, 44, 219),$primarycolor2,rgb(140, 44, 219));

            }*/
            p{
                font-size: 16px;
                margin-left: 14px;
            }
            ol{
                li{
                    margin: 5px 2px;
                }
            }
        }
    }
    .specifications{
        width: 70.5%;
        background-color: #fff;
        box-shadow: 0px 0px 10px 4px #ececec;
        border-radius: 3px;
        margin: 0 1.5%;
        padding-bottom: 20px;
        /*.partition{
           background-image: linear-gradient(to bottom right, rgb(140, 44, 219),$primarycolor2,rgb(140, 44, 219));

        }*/
        h3{
            position: relative;
            font-size: 22px;
            margin-left: 20px;
            margin-bottom: 20px;
            padding-top: 8px;
            font-weight: 500;
            color: $primarycolor2;
        }
        /*h3::after{
            content: "";
            position: absolute;
            top: 115%;
            left: 0;
            width: 35px;
            height: 3px;
            background-image: linear-gradient(to bottom right, rgb(140, 44, 219),$primarycolor2,rgb(140, 44, 219));
        }*/
        .content{
            display:flex;
            margin-top: 30px;

            .keyfeatures{
                width: 46%;
                border: 1px solid #e4e4e4;
                border-radius: 5px;
                margin: 0 auto;
                p{
                    margin-left: 10px;
                    text-transform: uppercase;
                }
                ul{
                    li{
                        margin-top: 3px;
                    }
                }
            }
            .speci-sub{
                width: 48%;
                border: 1px solid #e4e4e4;
                border-radius: 5px;
                margin: 0 auto;
                p{
                    margin-left: 10px;
                    text-transform: uppercase;
                }
                ul{
                    li{
                        margin-top: 3px;
                    }
                }
            }
        }
    }
}

//coverphoto
.coverphoto{

    background-size: contain;
    height: 400px;
    width: 100%;
    img{
        height: 100%;
        width: 100%;
    }
}

.footer{
    .footer-main{
        padding-top: 30px;
        height: 400px;
        background-color: $footercolor;
        .flex-container{
            width: 100%;
            height: 100%;
            display: flex;
        }
        .follow{
            display: flex;
            flex-direction: column;
            width: 60%;
            .title{
                h3{
                    font-size: 24px;
                    font-weight: 500;
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 0.02em;
                }
            }
            .links{
                display: flex;
                justify-content: left;
                width: 100%;
                .circle{
                    width: 50px;
                    height:50px;
                    background-color: $primarycolor;
                    border-radius: 50px;
                    margin-right: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: background-color 0.3s ease;
                    i{
                        color: #fff;
                        font-size: 22px;
                    }
                }
                .circle:hover {
                    background-color: $primarycolor2;
                }
            }
            .pages{
                ul{
                    margin: 30px 0 0 0 ;
                    padding: 0;
                    list-style-type: none;
                    li{
                        margin-bottom: 5px;

                        a{
                            font-size: 18px;
                            font-weight: 200;
                            color: #fff;
                            text-decoration: none;
                            text-transform: capitalize;
                        }
                        a:hover{
                            color: $primarycolor;
                        }
                    }
                }
            }
        }
        .subscribe{
            //margin-top: 40px;
            width: 100%;
            ul{
                margin: 24px 0 45px 0 ;
                padding: 0;
                list-style-type: none;
                display: flex;
                li{
                    margin-right: 15px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: 20px;
                        font-weight: 500;
                        text-transform: uppercase;
                        transition: color 0.3s ease;
                    }
                    a:hover{
                        color: $primarycolor;
                    }
                }
            }
            h3{
                color: #fff;
                font-weight: 500;
                font-size: 18px;
            }
            .input-box{
                height: 41px;
                width: 100%;
                input{
                    border: 0;
                    background-color: rgb(247, 247, 247);
                    border-radius: 15px 0 0 0;
                    height: 100%;
                    padding-left: 15px;
                    width: 47%;
                }
                button{
                    height: 104%;
                    width: 20%;
                    color: #fff;

                    font-size: 17px;
                    font-weight: 500;
                    border: 0;
                    background-color: $primarycolor;
                    background-image: linear-gradient(to bottom right, rgb(140, 44, 219),$primarycolor2);
                    border-radius: 0 0 15px 0;
                    margin: 0;
                    margin-left: -5px;
                }
            }
            .payments{
                h3{
                    font-size: 18px;
                    margin-top: 35px;
                    margin-bottom:10px;
                }
                .payments-systems{
                    display: flex;
                    img{
                        height: 40px;
                        width: 60px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    // copyright area
    .copyrights{
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #363636;
        p{
            font-size: 15px;
            color: #fff;
            span{
                font-weight: 600;
                font-size: 16px;
                color: #808080;
            }

        }
    }
    .copyrights:hover p span{
        animation-name: signaturepulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;

    }
}
